@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    background-color: rgb(44, 62, 80);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.container {
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-right: 7rem;
    margin-left: 7rem;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
}

.navbar-brand {
    font-size: 1.75rem;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    text-transform: uppercase;
    color: white;
}

.navigation {
    margin-left: auto;
}

.navbar-sections {
    display: flex;
    list-style: none;
    flex-direction: row;
}

.navbar-sections li {
    margin-left: 2.5rem;
}

.navbar-sections a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

.navbar-sections a:hover {
    color: rgb(26, 188, 156);
    transition: 0.3ms;
}

header {
    background-color: rgb(26, 188, 156);
    padding: 6rem;
    padding-top: 13rem;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#avatar {
    width: 18%;
}

.header-content h1 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 4rem;
    margin-top: 2rem;
}

.header-content p {
    font-family: 'Lato', serif;
    font-size: 1.5rem;
}

.divider {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 2.5rem;
}

.star-icon {
    margin-right: 1rem;
    margin-left: 1rem;
}

.divider-line {
    width: 7rem;
    height: 0.25rem;
    background-color: white;
    border-radius: 0.25rem;
}

.main {
    background-color: rgb(44, 62, 80);
}

#portfolio {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.ver2 {
    color: #2c3e50;
}

.heading {
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
}

.portfolio {
    color: rgb(44, 62, 80);
}

.sec1 {
    flex-wrap: wrap;
    width: 87%;
    margin: auto;
    box-sizing: border-box;
}

.img {
    position: relative;
}

.img:hover .overlay {
    opacity: 0.9;
}

.img .overlay {
    position: absolute;
    width: 400px;
    height: 288.888px;
    left:1.25rem;
    top:1.25rem;
    border-radius: 0.5rem;
    background-color: rgb(26, 188, 156);
    transition: 0.5s all;
    opacity: 0;
}

.img svg{
    transform: translateX(140px) translateY(84px);
}

.img img {
    position: relative;
    z-index: -1;
}

.sec1 img {
    width: 400px;
    border-radius: 0.5rem;
    margin: 1.25rem;
}

#about {
    background-color: rgb(26, 188, 156);
    color: white;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.about {
    color: white;
}

.about-container {
    display: flex;
    justify-content: center;
}

.about-text {
    width: 28%;
    font-family: 'Lato', serif;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

#download {
    display: flex;
    margin: auto;
    margin-top: 3rem;
    width: 12%;
    padding: 1.25rem 1.5rem;
    border: 2px solid white;
    border-radius: 0.5rem;
    font-family: 'Lato', serif;
    font-size: 1.25rem;
    text-decoration: none;
    color: white;
    fill: white;
}

#download:hover {
    background-color: white;
    color: black;
    transition: 0.3s;
    fill: black;
}

#contact {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.contact {
    color: rgb(44, 62, 80);
}

#contactme {
    display: flex;
    justify-content: center;
    font-family: 'Lato', serif;
}

#contactme input,
textarea {
    width: 45rem;
    border-style: none;
    border-bottom: 1px solid rgb(0, 0, 0, 0.4);
}

.label {
    display: block;
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: rgb(0, 0, 0, 0.6);
}

input,
textarea:focus {
    outline: none;
}

#send {
    display: block;
    color: white;
    background-color: #1abc9c;
    border: #1abc9c;
    border-radius: 0.5rem;
    margin-top: 0.8rem;
    padding: 1.3rem;
    font-size: 1.1rem;
    width: 7rem;
}

footer {
    font-family: 'Lato', serif;
}

.upper {
    display: flex;
    background-color: rgb(44, 62, 80);
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 8rem;
}

.upper h4 {
    font-family: 'Montserrat', serif;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.upper p,
address {
    font-size: 1.25rem;
    font-style: normal;
    line-height: 2rem;
}

.upper a {
    color: #1abc9c;
}

.upper-text {
    width: 29%;
    text-align: center;
    color: white;
    margin: 0px 3.6rem;
}

.lower {
    display: flex;
    justify-content: center;
    background-color: #1a252f;
    color: white;
    font-size: 0.9rem;
    text-transform: capitalize;
    padding: 1.5rem;
}

.icon-section {
    display: flex;
    justify-content: center;
}

.icon {
    width: 3.2rem;
    height: 3.2rem;
    border: 2px solid white;
    border-radius: 50%;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
    fill: white;
    box-sizing: border-box;
    padding-top: 0.5rem;
}


.icon:hover {
    background-color: white;
    transition: 0.3s;
    fill: black;
}